<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="container">
  <div class="page-header text-center">
    <h1><span class="fa fa-medkit"></span> Patients Overview</h1>
  </div>
  <% include ../partials/header %>

  <main>
    <p>physicians and researchers are redirected to this page</p>
<% if (typeof user != 'undefined' && user.role === 'patient') { %>
    <div class="alert alert-danger" role="alert">
      You are not allowed to see this page. As a patient you can enjoy some nice videos
      on <a class="alert-link" href="/video-list">the other page</a>.
    </div>
<% } else { %>
    <section>
    <h2>Welcome <span class="fa fa-user-md"></h2>
    </section>

    <% if (typeof user != 'undefined' && user.role === 'researcher') { %>
      <section>
      <h2>Latest News RSS (only for researchers)</h2>
      </section>
    <% } %>
<% } %>

  </main>

  <% include ../partials/footer %>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

  <script type="text/javascript">
    <% include ../components/patient-overview.js %>
  </script>
</body>
</html>
