<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<body class="container">

    <div class="page-header text-center">
      <h1><span class="fa fa-youtube-play"></span> Video List</h1>
    </div>
  <% include ../partials/header %>

  <main>
    <h2>Hi <%= user.local.email %>, here are a few videos for you:</h2>
    <p>patients are redirected to this page</p>
  </main>

  <% include ../partials/footer %>

</body>
</html>
